body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;

}
#board{
    width: 400px;
    height: 400px;

    background-color: #cdc1bc;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2{
    background-color: #eee4da;
    color: #727371;
}

.x4{
    background-color: #ece0ca;
    color: #727371;
}
.x8{
    background-color: #f4b17a;
    color: #fff;
}

.x16{
    background-color: #f59575;
    color: #fff;
}

.x32{
    background-color: #f57c5f;
    color: #fff;
}

.x64{
    background-color: #f65d3b;
    color: #fff;
}

.x128{
    background-color: #edce71;
    color: #fff;
}

.x256{
    background-color: #edcc63;
    color: #fff;
}

.x512{
    background-color: #edc651;
    color: #fff;
}

.x1024{
    background-color: #edcc63;
    color: #fff;
}

.x2048{
    background-color: #ecc230;
    color: #fff;
}

.x4096{
    background-color: #fe3d3d;
    color: #fff;
}

.x8192{
    background-color: #ff2020;
    color: #fff;
}